:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.exercise-card {
  background-color: grey;
  padding: 10px 10px 5px 10px;
  border-radius: 6px;
  position: relative;
}

.round {
  border-radius: 6px;
}

.hide {
  visibility: hidden!important;
}

.highlighted-tile {
  background-color: green !important;
  color: white !important;   
}

.w30 {
  width: 33%;
}

.w20 {
  width: 20%;
}

.set-checkmark-btn {
  background-color: transparent;
  border: none;
}

.set-checkmark {
  font-size: 24px;
}

.carrot {
  background-color: transparent;
  border: none;
}

.text-black {
  color: black!important;
}

span {
  color: black;
}

.open-sets-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 30px;
}

.set-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 30px;
}

.completed-set {
  color: rgb(16, 146, 16);
}

.pbmatch {
  padding: 0.6em 1.2em;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}


@media screen and (min-width: 768px) {
  :root {
    --main-red: #ff0000;    /* Main red color */
    --light-red: #ff6666;   /* Lighter shade of red */
    --dark-red: #990000;    /* Darker shade of red */
  }

  body {
    background-image: url('/client/public/iron-1920-x-1200-background-jxjs64erc215wfnm.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* Other desktop-specific styles */
  }

  /* Styles specific to desktop screens */
  .desktop-specific-element {
    
    color: var(--common-white);
    /* Other desktop-specific styles */
  }
}
